name: Build and release static export

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Check out code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: "latest"

            - name: Install dependencies
              run: bun install

            - name: Build static export
              run: |
                  bun run build-ignore-error

            - name: Compress dist folder
              run: |
                  if [ -d "dist" ]; then
                    zip -r dist.zip dist
                  else
                    echo "dist folder not found!"
                    exit 1
                  fi

            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                  files: dist.zip
                  token: ${{ secrets.GITHUB_TOKEN }}

